

.document {
    margin: 1rem;
    width: 210mm;
    /*height: 297mm;*/
    /*width: calc(100% - 2rem);*/
    height: auto;
    background-color: #fff !important;
    color: black !important;
}

/*.headerBtn {*/
/*    margin: auto auto;*/
/*    width: 216mm;*/
/*    background-color: #fff;*/
/*    display: none;*/
/*}*/

.document table#billet-viewer {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    color: #000000;

}

.document .bankLogo {
    width: 130px;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.document .bankLogo img{
    height: 8.7mm;
    position: absolute;
    left: 5px;
    bottom: 0;
}

.document .billet-number {
    /*width: 62%;*/
    /*font-weight: bold;*/
    text-align: right !important;
}

.document .billet-number span{
    font-size: 17px;
    font-weight: bolder;
    padding-right: 10px;
}

.document .center {
    text-align: center;
}

.document .right {
    text-align: right;
    right: 25px;
    padding-right: 5px;
}

.document .left {
    text-align: left;
    left: 20px;
}

.document table tr {
    height: 30px;
}

.document td {
    position: relative;
    text-align: left;
    color: black !important;
    line-height: 5px;
    padding: 0 5px !important;
}
/*.document td:hover {*/
/*    background-color: white;*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*}*/

.document .title {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 12px;
    font-weight: bold;
}

.document .text {
    font-size: 12px;
    /*padding: 0.3rem;*/
}

.document .content {
    /*padding: 0px;*/
    width: 100%;
    /*margin: 0px;*/
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 0 !important;
    line-height: 15px;
    color: black !important;
}

.document .sideBorders {
    width: 95px;
}

.document .sideBorders span{
    font-size: 18px;
    font-weight:bold;
}

.document .letter-1x {
    letter-spacing: 1px;
}

.document .v-top {
    vertical-align: top;
}

.document hr {
    size: 1px;
    border: 1px dashed rgba(0, 0, 0);
}

.document br {
    content: " ";
    display: block;
    /*margin-top: 18px;*/
    line-height: 10px;
}

.document .instructions {
    margin-top: 0 !important;
}

/*.document .instructions {*/
/*    margin-top: 0 !important;*/
/*}*/

.document .boletoNumber {
    width: 568px;
    font-size: 18px;
    /*padding-right: 20px;*/
}

.document .pagador {
    height: 80px !important;
}

.document td svg {
    color: black !important;
    width: 100%;
}

.document .print {
    /* TODO(dbeam): reconcile this with overlay.css_old' .default-button. */
    background-color: rgb(77, 144, 254);
    background-image: linear-gradient(to bottom, rgb(77, 144, 254), rgb(71, 135, 237));
    border: 1px solid rgb(48, 121, 237);
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.document .btnDefault {
    font-kerning: none;
    font-weight: bold;
}

.document .btnDefault:not(:focus):not(:disabled) {
    border-color: #808080;
}

.document button {
    border: 1px;
    padding: 5px;
    line-height: 20px;
}

.document i[class*=icss-]{position:relative;display:inline-block;font-style:normal;background-color:currentColor;-webkit-box-sizing:border-box;box-sizing:border-box;vertical-align:middle}i[class*=icss-]:after,i[class*=icss-]:before{content:"";border-width:0;position:absolute;-webkit-box-sizing:border-box;box-sizing:border-box}i.icss-print{width:.68em;height:1em;border-style:solid;border-color:currentcolor;border-width:.07em;-webkit-border-radius:.05em;border-radius:.05em;background-color:transparent;margin:0 .17em}i.icss-print:before{width:1em;height:.4em;border-width:.07em .21em 0;border-style:solid;border-color:currentColor currentcolor transparent;-webkit-border-radius:.05em .05em 0 0;border-radius:.05em .05em 0 0;top:.25em;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(20%,transparent),color-stop(20%,currentcolor),color-stop(60%,currentcolor),color-stop(60%,transparent));background-image:-webkit-linear-gradient(transparent 20%,currentcolor 20%,currentcolor 60%,transparent 60%);background-image:-o-linear-gradient(transparent 20%,currentcolor 20%,currentcolor 60%,transparent 60%);background-image:linear-gradient(transparent 20%,currentcolor 20%,currentcolor 60%,transparent 60%)}i.icss-print:after{width:.45em;height:.065em;background-color:currentColor;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);top:.6em;-webkit-box-shadow:0 .12em,-.1em -.28em 0 .05em;box-shadow:0 .12em,-.1em -.28em 0 .05em}i.icss-files{width:.75em;height:.95em;background-color:transparent;border:.05em solid transparent;border-width:0 .05em .05em 0;-webkit-box-shadow:inset 0 0 0 .065em,.13em .11em 0 -.05em;box-shadow:inset 0 0 0 .065em,.13em .11em 0 -.05em;-webkit-border-radius:0 .3em 0 0;border-radius:0 .3em 0 0;margin:0 .17em .05em .1em}i.icss-files:before{border-style:solid;border-width:.2em;top:.037em;left:.25em;-webkit-border-radius:.1em;border-radius:.1em;border-color:transparent currentColor transparent transparent;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}

