.btn-menu
{
    /*background-color: #f2f1f1;*/
    position: fixed;
    /*width: 120px;*/
    /*height: 120px;*/
    top: 0;
    right: 0;
    text-align: right;
    justify-content: right;
    padding: 60px;
    z-index: 99999 !important;
}
/*.btn-menu .btn*/
/*{*/
/*    margin-top: 20px;*/
/*    margin-right: 20px;*/
/*}*/

input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.bar{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    z-index: 9999 !important;
}

.bar .top{
    bottom: 5px;
    width: 50px;
    height: 7px;
    /*background-color: #1a2564;*/
    background-color: tomato;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

.bar .middle{
    bottom: 20px;
    width: 50px;
    height: 7px;
    /*background-color: #1a2564;*/
    background-color: tomato;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

.bar .bottom{
    bottom: 35px;
    width: 50px;
    height: 7px;
    /*background-color: #1a2564;*/
    background-color: tomato;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .bar .top{
    transform: rotate(-45deg);
    transform-origin: right;
    top: -42px;
    background-color: #050421;
}
input[type="checkbox"]:checked ~ .bar .bottom{
    transform: rotate(45deg);
    transform-origin: right;
    top: -5px;
    background-color: #050421;
}
input[type="checkbox"]:checked ~ .bar .middle{
    transform: translateX(20px);
    opacity: 0;
}

.wrapper {
    display: block;
}

.offcanvas-collapse {
    position: fixed;
    top: 0; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 22vw;
    height: 100vh;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 4rem;
    overflow: hidden;
    visibility: hidden;
    color: #050421 !important;
    background-color: whitesmoke;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 99999 !important;
    vertical-align: top !important;
}

.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 99999 !important;
}

/*navbar {*/
/*    !*top: 100px;*!*/

/*    vertical-align: top;*/
/*}*/

.navbar-nav{
    list-style: none !important;
    margin: 1em;
}

.navbar-nav li{
    display: block !important;
    font-weight: 500;
    color: #050421 !important;
    position: relative;
    padding-top: .25rem;
    padding-bottom: .25rem;
    width: 100%;
}
/*.navbar-nav li:hover{*/
/*    border: 1px solid #ffffff;*/
/*    border-radius: 7px;*/
/*}*/

.nav-item .nav-link{
    padding-top: .95rem;
    padding-bottom: .65rem;
    /*font-size: .875rem;*/
    font-size: 1.2em;
    color: rgba(5, 4, 33, 0.50) !important;
    display: flex;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
}

.nav-item .nav-link i{
    padding-right: 0.5em;
    margin-top: -5px;
}

.nav-item .nav-link:hover {
    /*color: #007bff;*/
    background-color: #050421 !important;
    color: whitesmoke !important;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        /*top: 56px; !* Height of navbar *!*/
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #1a2564;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        z-index: 10 !important;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        z-index: 10 !important;
    }
}
