/*Downloaded from https://www.codeseek.co/kikobr/estilo-cupom-fiscal-bVzJGZ */
.text-center {
    text-align: center;
}
.ttu {
    text-transform: uppercase;
}
.printer-ticket {
    display: table !important;
    /*width: 100%;*/
    /*width: 80mm;*/
    width: 78mm !important;
    /*max-width: 400px;*/
    font-weight: light;
    line-height: 1.3em;
    text-align: center !important;
    justify-content: center !important;
    /*background-color: #fffafa;*/
    /*background-color: #faebd7;*/
    background-color: #fff5eb !important;
}

.printer-ticket, h1, h2, h3, h4, h5, h6
{
    /*color: #003c66 ;*/
    /*Cor do papel térmico ECF - color: #faebd7 ;*/
    color: #003c66 !important;
}

.logo
{
    width: 40%;
}

.printer-ticket,
.printer-ticket * {
    font-family: Arial, Geneva, sans-serif;
    /*font-family: Nunito, Geneva, sans-serif;*/
    font-size: 11px;
}
.printer-ticket th:nth-child(2),
.printer-ticket td:nth-child(2) {
    /*width: 50px;*/
    width: 200px !important;
}
.printer-ticket th:nth-child(3),
.printer-ticket td:nth-child(3) {
    /*width: 90px;*/
    /*text-align: left;*/
    width: 200px !important;
}

.right {
    /*width: 200px !important;*/
    width: 40% !important;
    text-align: right !important;
    padding-right: 5px !important;
    font-weight: bold;
}
.left {
    /*width: 200px !important;*/
    width: 60% !important;
    text-align: left !important;
    padding-left: 2px !important;
}

.printer-ticket tfoot tr {
    width: 400px !important;
}

.printer-ticket th {
    font-weight: inherit;
    padding: 10px 0;
    text-align: center;
    /*border-bottom: 1px dashed #BCBCBC;*/
}

.printer-ticket tr:hover {
    background: none !important;
}

.printer-ticket tbody tr:last-child td {
    padding-bottom: 10px;
}
.printer-ticket tfoot .sup td {

    padding: 10px 0;
    /*border-top: 1px dashed #BCBCBC;*/
}
.printer-ticket tfoot .sup.p--0 td {
    padding-bottom: 0;
}
.printer-ticket .title {
    font-size: 2em;
    /*font-size: 1.5em;*/
    padding: 10px 0;
}

.printer-ticket .title p {
    line-height: 4px;
}

.printer-ticket .top td {
    padding-top: 10px;
}
.printer-ticket .last td {
    padding-bottom: 10px;
}

.print-content {
    width: 89mm;
}

/*@media print {*/
/*    !*Downloaded from https://www.codeseek.co/kikobr/estilo-cupom-fiscal-bVzJGZ *!*/
/*    body{*/
/*        background-color: #ffffff !important;*/
/*        color: black !important;*/
/*    }*/
/*    .text-center {*/
/*        text-align: center;*/
/*    }*/
/*    .ttu {*/
/*        text-transform: uppercase;*/
/*    }*/
/*    .printer-ticket {*/
/*        visibility: visible;*/
/*        display: table !important;*/
/*        width: 100%;*/
/*        !*width: 70mm;*!*/
/*        !*max-width: 400px;*!*/
/*        font-weight: 400;*/
/*        line-height: 1.3em;*/
/*        text-align: center !important;*/
/*        justify-content: center !important;*/
/*    }*/

/*    .printer-ticket, h1, h2, h3, h4, h5, h6*/
/*    {*/
/*        !*color: #003c66 ;*!*/
/*        !*Cor do papel térmico ECF - color: #faebd7 ;*!*/
/*        color: #003c66 !important;*/
/*    }*/

/*    .logo*/
/*    {*/
/*        width: 40%;*/
/*    }*/

/*    .printer-ticket,*/
/*    .printer-ticket * {*/
/*        font-family: Arial, Geneva, sans-serif;*/
/*        !*font-family: Nunito, Geneva, sans-serif;*!*/
/*        font-size: 11px;*/
/*    }*/
/*    .printer-ticket th:nth-child(2),*/
/*    .printer-ticket td:nth-child(2) {*/
/*        !*width: 50px;*!*/
/*        width: 200px !important;*/
/*    }*/
/*    .printer-ticket th:nth-child(3),*/
/*    .printer-ticket td:nth-child(3) {*/
/*        !*width: 90px;*!*/
/*        !*text-align: left;*!*/
/*        width: 200px !important;*/
/*    }*/

/*    .right {*/
/*        !*width: 200px !important;*!*/
/*        width: 40% !important;*/
/*        text-align: right !important;*/
/*        padding-right: 5px !important;*/
/*        font-weight: bold;*/
/*    }*/
/*    .left {*/
/*        !*width: 200px !important;*!*/
/*        width: 60% !important;*/
/*        text-align: left !important;*/
/*        padding-left: 2px !important;*/
/*    }*/

/*    .printer-ticket tfoot tr {*/
/*        width: 400px !important;*/
/*    }*/

/*    .printer-ticket th {*/
/*        font-weight: inherit;*/
/*        padding: 10px 0;*/
/*        text-align: center;*/
/*        border-bottom: 1px dashed #BCBCBC !important;*/
/*    }*/

/*    .printer-ticket tr:hover {*/
/*        background: none !important;*/
/*    }*/

/*    .printer-ticket tbody tr:last-child td {*/
/*        padding-bottom: 10px;*/
/*    }*/
/*    .printer-ticket tfoot .sup td {*/

/*        padding: 10px 0;*/
/*        border-top: 1px dashed #BCBCBC;*/
/*    }*/
/*    .printer-ticket tfoot .sup.p--0 td {*/
/*        padding-bottom: 0;*/
/*    }*/
/*    .printer-ticket .title {*/
/*        font-size: 2em;*/
/*        !*font-size: 1.5em;*!*/
/*        padding: 10px 0;*/
/*        text-align: center;*/
/*    }*/

/*    .printer-ticket .title p {*/
/*        line-height: 4px;*/
/*    }*/

/*    .printer-ticket .top td {*/
/*        padding-top: 10px;*/
/*    }*/
/*    .printer-ticket .last td {*/
/*        padding-bottom: 10px;*/
/*    }*/


/*}*/
/*@media screen {*/
/*    #coupon {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media print {*/
/*    body * {*/
/*        visibility:hidden;*/
/*    }*/
/*    #coupon, #coupon * {*/
/*        visibility:visible;*/
/*    }*/
/*    #coupon {*/
/*        position:absolute;*/
/*        !*width: 80mm !important;*!*/
/*        width: 800px !important;*/
/*        !*width: 100% !important;*!*/
/*        left:0;*/
/*        top:0;*/
/*    }*/
/*    .printer-ticket {*/
/*        !*width: 800px !important;*!*/
/*    }*/


/*    !*    .text-center {*!*/
/*    !*        text-align: center;*!*/
/*    !*    }*!*/
/*    !*    .ttu {*!*/
/*    !*        text-transform: uppercase;*!*/
/*    !*    }*!*/
/*    !*    .printer-ticket {*!*/
/*    !*        visibility: visible;*!*/
/*    !*        display: table !important;*!*/
/*    !*        width: 100%;*!*/
/*    !*        !*width: 70mm;*!*!*/
/*    !*        !*max-width: 400px;*!*!*/
/*    !*        font-weight: 400;*!*/
/*    !*        line-height: 1.3em;*!*/
/*    !*        text-align: center !important;*!*/
/*    !*        justify-content: center !important;*!*/
/*    !*    }*!*/

/*    !*    .printer-ticket, h1, h2, h3, h4, h5, h6*!*/
/*    !*    {*!*/
/*    !*        !*color: #003c66 ;*!*!*/
/*    !*        !*Cor do papel térmico ECF - color: #faebd7 ;*!*!*/
/*    !*        color: #003c66 !important;*!*/
/*    !*    }*!*/

/*    !*    .logo*!*/
/*    !*    {*!*/
/*    !*        width: 40%;*!*/
/*    !*    }*!*/

/*    !*    .printer-ticket,*!*/
/*    !*    .printer-ticket * {*!*/
/*    !*        font-family: Arial, Geneva, sans-serif;*!*/
/*    !*        !*font-family: Nunito, Geneva, sans-serif;*!*!*/
/*    !*        font-size: 11px;*!*/
/*    !*    }*!*/
/*    !*    .printer-ticket th:nth-child(2),*!*/
/*    !*    .printer-ticket td:nth-child(2) {*!*/
/*    !*        !*width: 50px;*!*!*/
/*    !*        width: 200px !important;*!*/
/*    !*    }*!*/
/*    !*    .printer-ticket th:nth-child(3),*!*/
/*    !*    .printer-ticket td:nth-child(3) {*!*/
/*    !*        !*width: 90px;*!*!*/
/*    !*        !*text-align: left;*!*!*/
/*    !*        width: 200px !important;*!*/
/*    !*    }*!*/

/*    !*    .right {*!*/
/*    !*        !*width: 200px !important;*!*!*/
/*    !*        width: 40% !important;*!*/
/*    !*        text-align: right !important;*!*/
/*    !*        padding-right: 5px !important;*!*/
/*    !*        font-weight: bold;*!*/
/*    !*    }*!*/
/*    !*    .left {*!*/
/*    !*        !*width: 200px !important;*!*!*/
/*    !*        width: 60% !important;*!*/
/*    !*        text-align: left !important;*!*/
/*    !*        padding-left: 2px !important;*!*/
/*    !*    }*!*/

/*    !*    .printer-ticket tfoot tr {*!*/
/*    !*        width: 400px !important;*!*/
/*    !*    }*!*/

/*    !*    .printer-ticket th {*!*/
/*    !*        font-weight: inherit;*!*/
/*    !*        padding: 10px 0;*!*/
/*    !*        text-align: center;*!*/
/*    !*        border-bottom: 1px dashed #BCBCBC !important;*!*/
/*    !*    }*!*/

/*    !*    .printer-ticket tr:hover {*!*/
/*    !*        background: none !important;*!*/
/*    !*    }*!*/

/*    !*    .printer-ticket tbody tr:last-child td {*!*/
/*    !*        padding-bottom: 10px;*!*/
/*    !*    }*!*/
/*    !*    .printer-ticket tfoot .sup td {*!*/

/*    !*        padding: 10px 0;*!*/
/*    !*        border-top: 1px dashed #BCBCBC;*!*/
/*    !*    }*!*/
/*    !*    .printer-ticket tfoot .sup.p--0 td {*!*/
/*    !*        padding-bottom: 0;*!*/
/*    !*    }*!*/
/*    !*    .printer-ticket .title {*!*/
/*    !*        font-size: 2em;*!*/
/*    !*        !*font-size: 1.5em;*!*!*/
/*    !*        padding: 10px 0;*!*/
/*    !*        text-align: center;*!*/
/*    !*    }*!*/

/*    !*    .printer-ticket .title p {*!*/
/*    !*        line-height: 4px;*!*/
/*    !*    }*!*/

/*    !*    .printer-ticket .top td {*!*/
/*    !*        padding-top: 10px;*!*/
/*    !*    }*!*/
/*    !*    .printer-ticket .last td {*!*/
/*    !*        padding-bottom: 10px;*!*/
/*    !*    }*!*/
/*}*/



