* {
    margin:0;
    padding:0;
}



body {
    background: var(--bg-windx) url(/assets/img/bg001.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-all {
    min-width: 360px;
    min-height: calc(100vh - 20px);
    width: 100vw;
    padding: 1rem;
}

.full-screen-splash {
    display: table;
    /*position: absolute;*/
    width: 100vw;
    height: 100vh;
    /*background-color: #002046;*/
    z-index: 9999;
}

section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: #002046;*/
}

article{
    display: block;
    width: 300px;
    height: 350px;
    margin-left: -150px; /* metade da largura */
    margin-top: -175px; /* metade da altura */
    position: absolute;
    top: 50%;
    left: 50%;
}

article img {
    width: 60%;
}

.btn-reload-captcha {
    width: auto;
    height: auto;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.rotated {
    transform: rotate(360deg);
}

.text-primary-light {
    color: #7abdf4 !important;
}

.text-primary-light:hover {
    color: #a2d3fd !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    .container-all {
        /*min-width: 360px;*/
        min-height: 100vh;
        width: 100vw;
        /*padding: 0 !important;*/
    }
    .contents{
        padding: 0 !important;
    }

    .card-logon {
        width: 350px;
        /*font-size: 1.5rem;*/
    }

    .card-logon h2 {
        font-size: 1.5rem !important;
        color: #002046;
    }

    .card-logon h3 {
        font-size: 1.2rem !important;
        color: #002046;
    }

    .card-logon .card-header h5 {
        font-size: 15px !important;
    }

    .card-logon .card-header {
        padding: 0.1rem 1.25rem;
    }

    #captcha {
        width: 0 !important;
    }

    .input-group .input-group-prepend {
        height: auto !important;
    }

    .logo-windx {
        width: 8.5rem !important;
    }

    /*.card-body, .card-footer {*/
    /*    padding: .5rem !important;*/
    /*}*/

    /*footer small{*/
    /*    font-size: 75% !important;*/
    /*}*/

    .card-contact {
        right: .2rem !important;
    }

    .mastfoot {
        font-size: 12px !important;
    }

    .contact-client {
        bottom: .5rem !important;
        right: .5rem !important;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) {
    .container-all {
        /*min-width: 360px;*/
        min-height: 100vh;
        width: 100vw;
        /*padding: 0 !important;*/
    }
    .contents{
        padding: 0 !important;
    }

    .card-logon {
        width: 350px;
        /*font-size: 1.5rem;*/
    }

    .card-logon h2 {
        font-size: 1.5rem !important;
        color: #002046;
    }

    .card-logon h3 {
        font-size: 1.2rem !important;
        color: #002046;
    }

    #captcha {
        width: 0 !important;
    }

    .input-group .input-group-prepend {
        height: auto !important;
    }

    .logo-windx {
        width: 8.5rem !important;
    }

    /*.card-body, .card-footer {*/
    /*    padding: .5rem !important;*/
    /*}*/

    /*footer small{*/
    /*    font-size: 75% !important;*/
    /*}*/

    .mastfoot {
        font-size: 13px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) {
    .container-all {
        min-width: 360px;
        min-height: 100vh;
        width: 100vw;
    }
    /*.container-fluid {*/
    /*    padding: 0 !important;*/
    /*}*/

    .card-logon h2 {
        font-size: 2rem;
        color: #002046;
    }

    .card-logon h3 {
        font-size: 1.5rem;
        color: #002046;
    }

    #captcha {
        width: 100px;
    }
}


header {
    width: 100%;
    background-color: var(--bg-windx);
    color: whitesmoke;
    display: inline;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-bottom: 6rem;*/
}

.logo-home {
    /*display: flex !important;*/
    width: 100px;
    height: 7em;
    /*left: 0 !important;*/
    margin: 1rem;
    justify-content: center !important;
    /*padding: 1rem !important;*/
    /*margin-top: 0 !important;*/
    transition: all 0.8s;
}

.logo-svg {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo-windx {
    z-index: 990 !important;
    width: 10rem;
    min-width: 120px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 32, 70);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 9998
    /*display: none;*/
}

.loading img {
    /*display: flex;*/
    position: relative;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.loader {
    z-index: 9999
}

 /* Login page */
.container-logon {
    width: 100vw;
    display: flex;
    position: absolute !important;
    top: 0 !important; bottom: 0 !important;
    left: 0 !important; right: 0 !important;
    margin: auto !important;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card-logon .card {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter:blur(7px);
    font-family: "Nunito", "Courier New", monospace;
    position: relative;
    display: flex;
    max-width: 400px;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
    perspective: 700px;
    justify-content: center;
}

.card-logon .card-login {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card-logon .card .btn {
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 1.1rem;
    background-color: #ED3237;
    color: white;
    font-weight: 600;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    margin-top: 1rem;
}

#btn-login:focus,
#btn-login:hover {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 15%);
    letter-spacing: 3px !important;
    background-image: linear-gradient(43deg, var(--red) 0%, var(--bg-windx) 100%);
}

.card-logon .card-header{
    background-color: transparent !important;
    display: block;
    justify-content: center;
    text-align: center;
    border: 0 !important;
    padding-top: 2rem;
}

.card-logon .card-header h2{
    color: rgba(255,255,255) !important;
    font-weight: bolder;
    letter-spacing: 1px
}

.card-logon .card-header h5{
    color: rgba(255,255,255,0.78) !important;
    letter-spacing: 1px;
}

.card-logon .card-body p.card-text{
    color: rgba(255,255,255,0.7);
    letter-spacing: 1px
}

.card-logon .card-footer {
    background-color: transparent !important;
}

.card-logon .input-group {
    border-radius: .25rem;
    background-color: rgb(230, 233, 238);
    /*background-color: rgba(0, 32, 70, 0.07);*/
    border: 1px solid rgba(0, 32, 70, 0.1);
    align-items: center;
}

.card-logon .input-group .input-group-prepend {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.card-logon .input-group .is-invalid {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.card-logon .input-group .input-group-prepend i{
    color: #002046;
    font-size: 20px;
}

.card-logon .inputs-login, .inputs-login:focus {
    background-color: transparent;
    color: #002046;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 18px;
    padding-left: 0;
}

.mastfoot {
    color: rgb(145, 145, 145);
}

.contact-client {
    position: fixed !important;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 9998 !important;
}

.contact-client img {
    /*margin: 0 2px;*/
    width: 3rem;
    height: 3rem
}
.card-contact {
    background-color: #00A682;
    width: 18rem !important;
    height: auto;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: .5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999 !important;
}

.card-contact .card-img{
    background-color: white;
    border-radius: .5rem;
    width: calc(100% - 3rem);
    height: 16rem;
    margin: 3rem 1rem 1rem 1rem;
    color: rgba(0, 32, 70, 0.71) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-contact .qrcode-img {
    width: 7.5rem !important;
    margin: 1.5rem
}

.card-contact .logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient(60deg, #ffffff, #ffffff);
    padding: 5px;
    margin-top: -30px;
    justify-content: center;
    position: relative;
}

.card-contact .card-body {
    color: white;
    padding: 1rem 2rem !important;
}

.card-contact .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
