body {
    background: var(--bg-windx) url(/assets/img/bg001.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-all {
    min-width: 360px;
    min-height: calc(100vh - 20px);
    width: 100vw;
    padding: 1rem;
}

.full-screen-splash {
    display: table;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*background-color: #002046;*/
    z-index: 9999;
}

section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: #002046;*/
}

article{
    display: block;
    width: 300px;
    height: 350px;
    margin-left: -150px; /* metade da largura */
    margin-top: -175px; /* metade da altura */
    position: absolute;
    top: 50%;
    left: 50%;
}

article img {
    width: 75%;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    .container-all {
        /*min-width: 360px;*/
        min-height: 100vh;
        width: 100vw;
        /*padding: 0 !important;*/
    }
    .contents{
        padding: 0 !important;
    }

    .card-logon {
        width: 350px;
        /*font-size: 1.5rem;*/
    }

    .card-logon h2 {
        font-size: 1.5rem !important;
        color: #002046;
    }

    .card-logon h3 {
        font-size: 1.2rem !important;
        color: #002046;
    }

    #captcha {
        width: 0 !important;
    }

    .input-group .input-group-prepend {
        height: auto !important;
    }

    .logo-windx {
        width: 8.5rem !important;
    }

    .card-body, .card-footer {
        padding: .5rem !important;
    }

    footer small{
        font-size: 75% !important;
    }

    .card-contact {
        right: .2rem !important;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) {
    .container-all {
        /*min-width: 360px;*/
        min-height: 100vh;
        width: 100vw;
        /*padding: 0 !important;*/
    }
    .contents{
        padding: 0 !important;
    }

    .card-logon {
        width: 350px;
        /*font-size: 1.5rem;*/
    }

    .card-logon h2 {
        font-size: 1.5rem !important;
        color: #002046;
    }

    .card-logon h3 {
        font-size: 1.2rem !important;
        color: #002046;
    }

    #captcha {
        width: 0 !important;
    }

    .input-group .input-group-prepend {
        height: auto !important;
    }

    .logo-windx {
        width: 8.5rem !important;
    }

    .card-body, .card-footer {
        padding: .5rem !important;
    }

    footer small{
        font-size: 75% !important;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) {
    .container-all {
        min-width: 360px;
        min-height: 100vh;
        width: 100vw;
    }
    /*.container-fluid {*/
    /*    padding: 0 !important;*/
    /*}*/

    .card-logon h2 {
        font-size: 2rem;
        color: #002046;
    }

    .card-logon h3 {
        font-size: 1.5rem;
        color: #002046;
    }

    #captcha {
        width: 100px;
    }
}


header {
    width: 100%;
    background-color: var(--bg-windx);
    color: whitesmoke;
    display: inline;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-bottom: 6rem;*/
}

.logo-home {
    /*display: flex !important;*/
    width: 100px;
    height: 7em;
    /*left: 0 !important;*/
    margin: 1rem;
    justify-content: center !important;
    /*padding: 1rem !important;*/
    /*margin-top: 0 !important;*/
    transition: all 0.8s;
}

.logo-svg {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo-windx {
    z-index: 990 !important;
    width: 10rem;
    min-width: 120px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 32, 70);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 9998
    /*display: none;*/
}

.loading img {
    /*display: flex;*/
    position: relative;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.loader {
    z-index: 9999
}

/* Login page */
.container-logon {
    width: 100vw;
    display: flex;
    position: absolute !important;
    top: 0 !important; bottom: 0 !important;
    left: 0 !important; right: 0 !important;
    margin: auto !important;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card-logon .card {
    position: relative;
    display: flex;
    /*width: 100px;*/
    /*height: 100px;*/
    transition: all 0.6s ease;
    transform-style: preserve-3d;
    perspective: 700px;
    justify-content: center;
}

.card-logon .scene {
    width: 370px;
    /*width: 400px;*/
    height: 460px;
    /*height: 530px;*/
    /*border: 1px solid #CCC;*/
    /*margin: 40px 0;*/
    /*perspective: 700px;*/
}

.card-logon .card-login {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    /*cursor: pointer;*/
    position: relative;
}

.card-logon .card-login.is-flipped {
    transform: rotateY(180deg);
}

.card-logon .card-login.is-flippedX {
    transform: rotateX(90deg) !important;
    transition: transform 0.5s;
}

.card-logon .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    /*line-height: 260px;*/
    color: #1a2035;
    /*font-size: 30px;*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card-logon .card__face--front h1, h2, h3, h4, h5, h6{
    color: #1a2035 !important;
}

.card-logon .card-header{
    background-color: white !important;
    display: block;
    justify-content: center;
    text-align: center;
    border: 0 !important;
    padding-top: 2rem;
}

.card-logon .card-header p{
    font-size: 1rem;
}

.card-logon .card__face--front .card__face--back h1 {
    font-weight: normal !important;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    /*padding-top: 1.5rem;*/
    margin: 0 auto;
}

.card-logon .card__face--front .card__face--back h3 {
    font-weight: normal !important;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    padding-top: 1.5rem;
    margin: 0 auto;
    /*color: #1a2035 !important;*/
}

.card-logon .card .row {
    padding: 0;
}

.card-logon .card__face--front .btn-flip {
    /*width: 80%;*/
    height: 2.5em;
    /*background-color: #1a2035;*/
    /*background-color: #050421;*/
    background-color: rgba(0,32,70);
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.card-logon .card__face--front {
    text-align: center;
    background: white;
    /*color: #1a2035;*/
    color: rgba(0,32,70);
    /*color: #050421;*/
    border-radius: .5rem
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.card__face--front .card-header,
.card__face--front .card-body,
.card__face--front .card-footer {
    background-color: white !important;
    border: none !important;
}

.card-logon .card__face--front p{
    font-size: 1.4rem;
}

.card-logon .card__face--back {
    background: white;
    /*color: #1a2035;*/
    color: rgba(0,32,70);
    /*color: #050421;*/
    transform: rotateY(180deg);
    border-radius: .5rem
}

.card__face--front .card {
    height: 100%;
}

.card__face--front .card-header {
    font-size: 2rem;
    font-weight: bold;
    line-height: 35px;
    padding-top: 5px;
}

.card__face--front .card-body p{
    font-size: 1.5rem !important;
    line-height: 30px !important;
}

.card__face--front .card-header,
.card__face--front .card-body,
.card__face--front .card-footer {
    background-color: transparent !important;
    border: none !important;
}

.card-logon .row-card #submit {
    padding: .8rem;
}

.card-logon .row-card label {
    text-align: left;
}


@-webkit-keyframes glowing {
    0% { background-color: #33416d; -webkit-box-shadow: 0 0 3px #33416d; }
    50% { background-color: #002046; -webkit-box-shadow: 0 0 3px #002046; }
    100% { background-color: #33416d; -webkit-box-shadow: 0 0 3px #33416d; }
}

@-moz-keyframes glowing {
    0% { background-color: #33416d; -moz-box-shadow: 0 0 3px #33416d; }
    50% { background-color: #002046; -moz-box-shadow: 0 0 3px #002046; }
    100% { background-color: #33416d; -moz-box-shadow: 0 0 3px #33416d; }
}

@-o-keyframes glowing {
    0% { background-color: #33416d; box-shadow: 0 0 3px #33416d; }
    50% { background-color: #002046; box-shadow: 0 0 3px #002046; }
    100% { background-color: #33416d; box-shadow: 0 0 3px #33416d; }
}

@keyframes glowing {
    0% { background-color: #33416d; box-shadow: 0 0 3px #33416d; }
    50% { background-color: #002046; box-shadow: 0 0 3px #002046; }
    100% { background-color: #33416d; box-shadow: 0 0 3px #33416d; }
}

.card-logon .card__face--front .btn-flip {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    margin: 0 !important;
}

#container-card-logon {
    /*padding-top: 10px;*/
    width: 340px;
    height: 370px;
    /*height: 440px;*/
    position: relative;
    /*border: 1px solid rgba(0, 32, 70, 0.5);*/
    /*margin-top: 20px;*/
    border-radius: .5rem;
}

#container-card-logon .input-document {
    width: calc(100% - 14px);
    margin: 7px;
    height: 50px;
    font-size: 22px;
    color: #002046;
    border-radius: .5rem;
    border: 2px solid rgba(0, 32, 70);
}

#container-card-logon .input-document:read-only {
    background-color: #ffffff;
    color: #002046;
}

.numpad {
    width: 350px;
    height: 100%;
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: #f1f1f1;*/
    padding: 1rem;
    border-radius: 1rem;
    /*column-count: 3;*/
    gap: 10px;
}

.numpad button {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    flex: calc(33.3333% - 10px);
    /*flex: 1 0 calc(33.3333% - 10px);*/
    background-color: #002646;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    /*gap: 5px;*/
    border-radius: .5rem;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 0px 10px 20px -10px rgba(103, 139, 177, 0.21);
    outline: none;
}
/*button:nth-of-type(1) {*/
/*    background-color: transparent;*/
/*    flex-basis: 100%;*/
/*}*/
/*button:nth-of-type(1):active {*/
/*    background: none;*/
/*}*/

button:nth-of-type(10) {
    background-color: rgba(227, 52, 47);
}

button:nth-of-type(10):active {
    background-color: rgba(227, 52, 47, 0.3);
}

.numpad button:nth-of-type(12) {
    /*background: none;*/
    background-color: rgba(56, 193, 114);
}

.numpad button:nth-of-type(12):active {
    /*background: none;*/
    background-color: rgba(56, 193, 114, 0.3);
}

.numpad button:active {
    background-color: rgba(0, 38, 70, 0.3);
}

.numpad button.btn {
    width: 100%;
    /*height: 100%;*/
    border-radius: .5rem;
    text-decoration: none;
    /* border: none; */
    padding: 0 !important;
    /* padding: 10px 40px; */
    /*font-size: 13px;*/
    /* font-size: 16px; */
    /* box-shadow: 7px 6px 18px 1px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    /* padding: 14px 20px; */
    /* font-size: 14px; */
    font-weight: 600 !important;
    color: #ffffff;
    /* box-shadow: 0px 10px 20px -10px #1376c5; */
    /* border-radius: 50px; */
    text-transform: uppercase;
    letter-spacing: 0 !important;
    margin: 0 !important;
    background-color: none;
}

.playground {
    /*height: 100vh;*/
    height: 390px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    /*background-color: #f1f1f1;*/
}

#input-document {
    width: 100%;
    font-size: 26px;
    border: 3px solid #002046;
    border-radius: .5rem;
    padding: 2px 10px;
    background-color: #e8f1ff;
    outline: none;
}

.numpad > .content {
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: center;
}

.mastfoot {
    /*padding-top: 3rem;*/
    color: rgba(255, 255, 255, .5);
}

.contact-client {
    position: fixed !important;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 9998 !important;
}

.contact-client img {
    /*margin: 0 2px;*/
    width: 3rem;
    height: 3rem
}
.card-contact {
    background-color: #00A682;
    width: 18rem !important;
    height: auto;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: .5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999 !important;
}

.card-contact .card-img{
    background-color: white;
    border-radius: .5rem;
    width: calc(100% - 3rem);
    height: 16rem;
    margin: 3rem 1rem 1rem 1rem;
    color: rgba(0, 32, 70, 0.71) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-contact .qrcode-img {
    width: 7.5rem !important;
    margin: 1.5rem
}

.card-contact .logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient(60deg, #ffffff, #ffffff);
    padding: 5px;
    margin-top: -30px;
    justify-content: center;
    position: relative;
}

.card-contact .card-body {
    color: white;
    padding: 1rem 2rem !important;
}

.card-contact .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
